accelerate
addict
diffusers
gradio==3.26.0
huggingface_hub
matplotlib
numpy
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision
termcolor
timm
torch
torchvision
transformers
yapf
numba
scipy 
safetensors
pynvml

lama-cleaner==1.1.2
openmim==0.1.5
mmcv==2.0.0

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
oauth2client
gradio
